@model Equipe
@{
    ViewData["Title"] = "Equipes";
}
<div class="titulo_pagina">
        <h1>cadastro de @ViewData["Title"]</h1>
    </div>

<form class="Cadastro"  action= '@Url.Action("Cadastrar")' method= "post" enctype = "multipart/form-data">
    <div class=campo>
        <label>ID</label>
        <input type= "text" name= "IdEquipe" />
    </div>
    <div class=campo>
        <label>Nome</label>
        <input type= "text" name= "Nome" />
    </div>
    <div class=campo>
        <label>Imagem</label>
        <input type = "file" name= "Imagem" />
    </div>

    <button type= "gradient btn" type="Submit">Cadastrar</button>
</form>

<table class ="table table-striped table-responsive">
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach(var equipe in ViewBag.Equipes)
        {
            <tr>
                <td>@equipe.IdEquipe</td>
                <td>@equipe.Nome</td>
                <td><img src = "/img/Equipes/@equipe.Imagem" alt="imagem da equipe @equipe.Nome" width="50"></td>
                <td><a asp-area="Link para excluir uma equipe" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>